$scheme-green: rgb(154,202,19);
$scheme-yellow: #F2CC0F;
$scheme-orange: #A65D03;
$scheme-brown: #733702;
$scheme-darkbrown: #591902;

$button-blue: #3772bc;
$button-blue-light: #4187df;
$button-green: #30a440;
$button-green-light: #35b848;
$button-red: #be3636;
$button-red-light: #d84040;

