@import 'consts';

@keyframes front-flip
{
  0%    {transform: scale(1) perspective(600px) rotateX(0deg) rotateY(0deg);}
  10%  {transform: scale(0.9) perspective(600px) rotateX(0deg) rotateY(0deg);}
  90%  {transform: scale(0.9) perspective(600px) rotateX(0deg) rotateY(180deg);}
  100%  {transform: scale(1) perspective(600px) rotateX(0deg) rotateY(180deg);}
}

@keyframes back-flip
{
  0%    {transform: scale(1) perspective(600px) rotateX(0deg) rotateY(-180deg);}
  10%   {transform: scale(0.9) perspective(600px) rotateX(0deg) rotateY(-180deg);}
  90%  {transform: scale(0.9) perspective(600px) rotateX(0deg) rotateY(0deg);}
  100%  {transform: scale(1) perspective(600px) rotateX(0deg) rotateY(0deg);}
}

@keyframes front-flip-back
{
  0%  {transform: scale(1) perspective(600px) rotateX(0deg) rotateY(180deg);}
  10%  {transform: scale(0.9) perspective(600px) rotateX(0deg) rotateY(180deg);}
  90%  {transform: scale(0.9) perspective(600px) rotateX(0deg) rotateY(0deg);}
  100%    {transform: scale(1) perspective(600px) rotateX(0deg) rotateY(0deg);}
}

@keyframes back-flip-back
{
  0%  {transform: scale(1) perspective(600px) rotateX(0deg) rotateY(0deg);}
  10%  {transform: scale(0.9) perspective(600px) rotateX(0deg) rotateY(0deg);}
  90%   {transform: scale(0.9) perspective(600px) rotateX(0deg) rotateY(-180deg);}
  1000%    {transform: scale(1) perspective(600px) rotateX(0deg) rotateY(-180deg);}
}

div.container.pet {

  .flipper {

      transform: scale(1) perspective(600px) rotateX(0deg);

      .pet-info{
        position: absolute;
        right:10px;
        top:10px;
        z-index: 9999;
        font-size: 24px;
        color: white;
        text-shadow: 0 0 1px #111;
      }

      .front {
        float: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 900;
        width: inherit;
        height: inherit;
        text-align: center;

        //animation: front-flip-back 1s;
        //animation-timing-function:ease-in-out;
        transform: scale(1) perspective(600px) rotateX(0deg) rotateY(0deg);
        transform-style: preserve-3d;
        backface-visibility: hidden;
        opacity: 1;

        /* -- transition is the magic sauce for animation -- */
        transition: all 0.6s ease-in-out;

        background-color: $scheme-green;

        #pet-pic{
          width:100%;
          max-height: 100%;
          overflow: hidden;

          img, video{
            width:100%;
          }
          .play-button{
            position: absolute;
            color: white;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            line-height: 400px;
            font-size: 75px;
          }
        }
        .pet-treat{
          width:100px;
          //position: absolute;
          //bottom: 0%;
        }

      }
      .back {
        float: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 800;
        width: inherit;
        height: inherit;
        padding: 20px;
        box-sizing: border-box;
        color: #efefef;

        //animation: back-flip-back 1s;
        //animation-timing-function:ease-in-out;
        transform: scale(0.8) perspective(600px) rotateX(0deg) rotateY(-180deg);
        transform-style: preserve-3d;
        backface-visibility: hidden;
//        opacity: 0;

        /* -- transition is the magic sauce for animation -- */
        transition: all 0.6s ease-in-out;
        background-color: $scheme-green;

      }
      &.flip {

        .front {
          z-index: 900;
          //animation: front-flip 1s;
          //animation-timing-function:ease-in-out;
          transform: scale(0.8) perspective(600px) rotateX(0deg) rotateY(180deg);
//          opacity: 0;
        }

        .back {
          z-index: 1000;
          //animation: back-flip 1s;
          //animation-timing-function:ease-in-out;
          transform: scale(1) perspective(600px) rotateX(0deg) rotateY(0deg);
          opacity: 1;
        }
      }

  }

  .swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
  }
  .swipe-wrap {
    overflow: hidden;
    position: relative;
  }
  .swipe-wrap > div {
    float:left;
    width:100%;
    position: relative;
  }

  .swipe-wrap.treat{
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 85%;
  }

}

.treats-menu{
  ul{
    list-style-type: none;
    padding: 0;
    margin: 0;

    li.treats-menu-item{
      position: relative;
      .treats-menu-name{

      }
      .treats-menu-price{

      }
      .treats-menu-checkbox{
        position: absolute;
        left: 5px;
        top: 5px;
        width: 30px;
        height: 30px;
        input{
          width: 30px;
          height: 30px;
          opacity: 0;
          font-family: FontAwesome;
          width: 30px;
          font-size: 30px;
          &::after{
            content:  "\f057",
          }
          &:checked{
            opacity: 0;
          }
        }
      }
    }
  }
}