@import 'consts';

@keyframes front-flip
{
  0%    {transform: scale(1) perspective(600px) rotateX(0deg) rotateY(0deg);}
  10%  {transform: scale(0.9) perspective(600px) rotateX(0deg) rotateY(0deg);}
  90%  {transform: scale(0.9) perspective(600px) rotateX(0deg) rotateY(180deg);}
  100%  {transform: scale(1) perspective(600px) rotateX(0deg) rotateY(180deg);}
}

@keyframes back-flip
{
  0%    {transform: scale(1) perspective(600px) rotateX(0deg) rotateY(-180deg);}
  10%   {transform: scale(0.9) perspective(600px) rotateX(0deg) rotateY(-180deg);}
  90%  {transform: scale(0.9) perspective(600px) rotateX(0deg) rotateY(0deg);}
  100%  {transform: scale(1) perspective(600px) rotateX(0deg) rotateY(0deg);}
}

@keyframes front-flip-back
{
  0%  {transform: scale(1) perspective(600px) rotateX(0deg) rotateY(180deg);}
  10%  {transform: scale(0.9) perspective(600px) rotateX(0deg) rotateY(180deg);}
  90%  {transform: scale(0.9) perspective(600px) rotateX(0deg) rotateY(0deg);}
  100%    {transform: scale(1) perspective(600px) rotateX(0deg) rotateY(0deg);}
}

@keyframes back-flip-back
{
  0%  {transform: scale(1) perspective(600px) rotateX(0deg) rotateY(0deg);}
  10%  {transform: scale(0.9) perspective(600px) rotateX(0deg) rotateY(0deg);}
  90%   {transform: scale(0.9) perspective(600px) rotateX(0deg) rotateY(-180deg);}
  1000%    {transform: scale(1) perspective(600px) rotateX(0deg) rotateY(-180deg);}
}

div.container.pets {

  .flipper {


      transform: scale(1) perspective(600px) rotateX(0deg);

      .pet-info{
        position: absolute;
        right:10px;
        top:10px;
        z-index: 9999;
        font-size: 24px;
        color: white;
        text-shadow: 0 0 1px #111;
      }

      .front {
        float: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 900;
        width: inherit;
        height: inherit;
        text-align: center;

        //animation: front-flip-back 1s;
        //animation-timing-function:ease-in-out;
        transform: scale(1) perspective(600px) rotateX(0deg) rotateY(0deg);
        transform-style: preserve-3d;
        backface-visibility: hidden;
        opacity: 1;

        /* -- transition is the magic sauce for animation -- */
        transition: all 0.6s ease-in-out;

        background-color: $scheme-green;

        #pet-pic, #pet-treat{
          width:100%;
          overflow: hidden;

        }

          #swipeview-slider > div{
            position:relative;
            display:box;
            box-orient:vertical;
            box-pack:center;
            box-align:center;
            overflow:hidden;
        }

      }
      .back {
        float: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 800;
        width: inherit;
        height: inherit;

        //animation: back-flip-back 1s;
        //animation-timing-function:ease-in-out;
        transform: scale(0.8) perspective(600px) rotateX(0deg) rotateY(-180deg);
        transform-style: preserve-3d;
        backface-visibility: hidden;
        opacity: 0;

        /* -- transition is the magic sauce for animation -- */
        transition: all 0.6s ease-in-out;
        background-color: $scheme-green;

      }
      &.flip {

        .front {
          z-index: 900;
          //animation: front-flip 1s;
          //animation-timing-function:ease-in-out;
          transform: scale(0.8) perspective(600px) rotateX(0deg) rotateY(180deg);
          opacity: 0;
        }

        .back {
          z-index: 1000;
          //animation: back-flip 1s;
          //animation-timing-function:ease-in-out;
          transform: scale(1) perspective(600px) rotateX(0deg) rotateY(0deg);
          opacity: 1;
        }
      }

  }

  .swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
  }
  .swipe-wrap {
    overflow: hidden;
    position: relative;
  }
  .swipe-wrap > div {
    float:left;
    width:100%;
    position: relative;
  }

  .swipe-wrap.treat{
    width: 100% !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50%;
  }

}

