@import 'consts';

body, html, .container{
  width: 100%;
  height:100%;
  padding:0;
  margin:0;
  background: #000000;
  font-family: verdana, arial, helvetica, sans-serif;
}

.page{
  overflow: hidden;
  width: 100%;
  height:100%;
  padding:0;
  margin:0;
  box-sizing: border-box;
  border-radius: 5px;
}

.rtl{
  direction: rtl;
  font-family: comix_no2_clm;
}

.right{
  direction: rtl;
}

i{
  text-rendering: auto !important;
}

@font-face {
  font-family: 'comix_no2_clm';
  src: url('/fonts/comixno2clm_bold-webfont.eot');
  src: url('/fonts/comixno2clm_bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/comixno2clm_bold-webfont.woff') format('woff'),
  url('/fonts/comixno2clm_bold-webfont.ttf') format('truetype'),
  url('/fonts/comixno2clm_bold-webfont.svg#comix_no2_clmbold') format('svg');
  font-weight: bold;
  font-style: normal;

}

@font-face {
  font-family: 'comix_no2_clm';
  src: url('/fonts/comixno2clm_medium-webfont.eot');
  src: url('/fonts/comixno2clm_medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/comixno2clm_medium-webfont.woff') format('woff'),
  url('/fonts/comixno2clm_medium-webfont.ttf') format('truetype'),
  url('/fonts/comixno2clm_medium-webfont.svg#comix_no2_clmmedium') format('svg');
  font-weight: normal;
  font-style: normal;

}