<?xml version='1.0' encoding='utf-8'?>
<widget id="org.treatsforlife" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Treats For Life</name>
    <description>
        Help a Dog Find a Home
    </description>
    <author email="guysopher@gmail.com" href="http://treatsforlife.org">
        Yoni and the Guys
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
