<p>
    איזה כיף שהחלטת לפנק את הכלב שלך!

    התרומה הבסיסית כוללת השלמת תזונה לשבוע. רוב הכלבים בכלביות אינם מקבלים את אספקת המזון המומלצת עבורם, אלא נאלצים להסתפק באוכל מועט ודל בחומרים מזינים.

    שאר הפינוקים תלויים רק בך!

</p>
<div class="treats-menu">
    <ul>
        <li class="treats-menu-item" ng-repeat="treat in menu">
            <div class="treats-menu-name">{{treat.name}}</div>
            <div class="treats-menu-price">מחיר: {{treat.price}} שקלים</div>
            <div class="treats-menu-checkbox">
                <input type="checkbox" ng-model="treat.cart"/>
            </div>
        </li>
    </ul>
</div>