<div class="page flipper">
    <div class="front page">
        <i class="pet-info fa fa-info-circle" ng-click="flip()"></i>

        <div id="pet-pic" ng-clock>
            <div id='slider' class='swipe'>
                <div class='swipe-wrap'>
                    <div ng-repeat="item in donations">
                        <div class="pet">
                            <div class="pet-inner">
                                <div class="pet-pic"
                                     ng-style="{'background-image': 'url('+item.media.image+')', height: picHeight}"></div>
                                <!--<div class="pets-zoom"><i class="fa fa-search-plus"></i></div>-->
                                <div class="pet-bar">
                                    <img class="owner-pic" ng-src="{{item.user.image || 'images/default_owner.png'}}"/>
                                    <img class="pet-gender" ng-src="images/pet_male.png"/>

                                    <div class="pet-name" ng-bind="item.pet.name"></div>
                                    <!--<i class="fa fa-search-plus"></i>-->
                                </div>
                            </div>
                        </div>
                        <img ng-hide="item.video_url" ng-src="{{item.photo_url}}"/>
                        <video ng-if="item.video_url" ng-show="item.video_url && !showVideo" ng-src="{{trustSrc(item.video_url)}}" controls/>
                        <!--<div ng-show="item.video_url && !showVideo" ng-click="showVideo=true" class="play-button" ng-style="{lineHeight: picHeight+'px'}"><i class="fa fa-play-circle-o"></i></div>-->
                    </div>
                </div>
            </div>
        </div>

        <div id='slider-treats' class='swipe'>
            <div class='swipe-wrap treat'>
                <!--<div ng-repeat="photo in ['bone', 'ball', 'bed']" ng-style="{height:grassHeight}" >-->
                <div ng-repeat="treat in treats" ng-style="{height:grassHeight}">
                    <!--<img class='treat' id="bone" src="images/bone.png" rel:animated_src="images/bone.gif" rel:auto_play="0" ></div>-->
                    <div ng-show="animationStatus[treat]=='first'" ng-click="startAnimation(treat)"
                         ng-touch="startAnimation(treat)" class='swipe-wrap treat'
                         ng-style="{height:grassHeight, backgroundImage: 'url(images/{{treat}}.png)'}"></div>
                    <div ng-if="animationStatus[treat]=='animate'" class='swipe-wrap treat'
                         ng-style="{height:grassHeight, backgroundImage: 'url(images/{{treat}}.gif)'}"></div>
                    <div ng-show="animationStatus[treat]=='last'" ng-click="animationStatus[treat]='first'" class='swipe-wrap treat'
                         ng-style="{height:grassHeight, backgroundImage: 'url(images/{{treat}}1.png)'}"></div>
                </div>
            </div>
        </div>

    </div>
<!--
    <div class="back page rtl">
        <i class="pet-info fa fa-times-circle" ng-click="flip()"></i>

        <div class="pad">
            <p>קצת פרטים על הכלב שלך</p>
        </div>
    </div>
-->
</div>
<tip-dialog></tip-dialog>



